#navBar, #sideNav, #mainContent {
    border: 1px solid black;
}
html {
    background-color: rgba(0, 0, 0, .1);
}


#navBar a {
    font-size: 30px;
}
#apply-but-mobile {
    margin-left: 30px;
    display:none;
}
#filter-but-mobile, #apply-but-mobile, #apply-but {
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 20px;
    cursor:pointer;
    
}
body {
    background-color: #f7f7f7;
}
#apply-but {
    margin:20px auto 20px auto;
    width:100px;
    text-align:center;
    display:block;
}

#mainContent {
    width: auto;
    display: flex;
    flex-direction: row;
}

 

.company-name {
    width: 350px;
    height: 250px;
    display: flex;
    align-items: center;
    border: 1px solid #c6bfbfa3;
    margin: 30px;
    opacity:1;
    background-color:white;
}

.company-name > img {
    width: inherit;
    position: relative;
}

#sideNav-mobile {
    display: none;
}

#racket-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.racket-brand {
    font-size:12px;
}
.card-body {
    padding:10px;
}
.racket-name {
     
}

.racket-price{
    margin-top:10px;
    color:red;
    font-weight:bold;
    font-size:20px;
}


@media screen and (max-width: 992px) {
    .log-reg {
        position: relative ;
    }
}


@media screen and (min-width: 993px) {
    .log-reg {
        position: absolute;
        top: 0px;
        right: 0px;
        display: inline-flex;
    }
}

@media screen and (max-width: 600px) {
    .company-name {
        width:300px;
        height:200px;
    }
    
    #sideNav-mobile {
        display: flex;
        position: fixed;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 30px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1000;
        font-size:30px;
    }
    
    #mainContent {
        margin: 0px auto;
    }

    .seprator {
         display:none;
    }
    .main-racket-content {
        margin-left: auto;
        margin-right: auto;
    }
    #racket-content {
       display:inline-block;
       margin-left:auto;
       margin-right:auto;
    }
    #apply-but {
        display:none;
    }
    #apply-but-mobile {
        display:block;
    }

    #sidenav  {
        width: 90%;
        position: fixed;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 30px;
        background-color: rgb(221, 204, 204);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1000;
        font-size: 30px;
        height: 60%;
        overflow: scroll;
        
    } 
    p {
       font-size:20px;
    }

    

    #register-form {
        background-image: url('https://wallpaperaccess.com/full/2936263.jpg');
        background-repeat: no-repeat;
        background-position-x: -1121px;
    }
}
@media screen and (min-width: 601px)  {
    #apply-but {
        display: block;
    }
   
    #sidenav {
        display: block;
        flex: 0 0 200px;
        margin-top: 20px;
        width: auto;
        background-color: white;
    }
    
    #register-form {
        background-image: url('https://wallpaperaccess.com/full/2936263.jpg');
        background-size: cover;
        background-position: center;
    }
}
 
.vertical-seprator {
    width: 100%;
    background-color: red;
    flex: 0 0 60px;
}


.card {
    padding:10px;
    margin:5px;
}

.a-racket {
    color:black;
    text-decoration:none;
}

.a-racket:hover {
    all: unset;
    cursor: pointer;
}

 
.filter-body {
    display:block;
    margin-left:30px;
}
.filter-title {
    margin: 20px 0px 10px 20px
}
.sort-filter {
    margin:10px auto 10px 20px;
    
}

#filter-close {
    text-align: right;
    font-size: 30px;
    margin-left: 70px;
}

#filter-close:hover {
    cursor:pointer;
    font-weight:bold;
}
.home-content {
    background-color: red;
    padding: 20px;
}

.show {
    display:block;
}

.hide {
    display:none;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

#add-r-form, #login-form, #register-form {
    margin: 0 auto;
}


.text-bold {
    font-weight: 800;
}

text-color {
    color: #0093c4;
}
/*++++++++++++++++++++++++++++++++++*/
/*+++++++ Product Page start +++++++*/
/*++++++++++++++++++++++++++++++++++*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#racket-panel {
    line-height: 1.5;
    margin:auto;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    height:inherit;
}

#racket-panel img {     
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

    .img-showcase img {
        min-width: 100%;
    }

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;
}

    .img-item:nth-child(1),
    .img-item:nth-child(2),
    .img-item:nth-child(3) {
        margin-right: 0;
    }

    .img-item:hover {
        opacity: 0.8;
    }

.product-content {
    padding: 2rem 1rem;
}

.product-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

    .product-title::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 80px;
        background: #12263a;
    }

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

    .product-link:hover {
        opacity: 0.9;
    }

.product-rating {
    color: #ffc107;
}

    .product-rating span {
        font-weight: 600;
        color: #252525;
    }

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

    .product-price span {
        font-weight: 400;
    }

.last-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price span {
    color: #256eff;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

    .product-detail ul li {
        margin: 0;
        list-style: none;
        background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
        background-size: 18px;
        padding-left: 1.7rem;
        margin: 0.4rem 0;
        font-weight: 600;
        opacity: 0.9;
    }

        .product-detail ul li span {
            font-weight: 400;
        }

.purchase-info {
    margin: 1.5rem 0;
}

    .purchase-info input,
    .purchase-info .btn {
        border: 1.5px solid #ddd;
        border-radius: 25px;
        text-align: center;
        padding: 0.45rem 0.8rem;
        outline: 0;
        margin-right: 0.2rem;
        margin-bottom: 1rem;
    }

    .purchase-info input {
        width: 60px;
    }

    .purchase-info .btn {
        cursor: pointer;
        color: #fff;
    }

        .purchase-info .btn:first-of-type {
            background: #256eff;
        }

        .purchase-info .btn:last-of-type {
            background: #f64749;
        }

        .purchase-info .btn:hover {
            opacity: 0.9;
        }

.social-links {
    display: flex;
    align-items: center;
}

    .social-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        color: #000;
        border: 1px solid #000;
        margin: 0 0.2rem;
        border-radius: 50%;
        text-decoration: none;
        font-size: 0.8rem;
        transition: all 0.5s ease;
    }

        .social-links a:hover {
            background: #000;
            border-color: transparent;
            color: #fff;
        }

@media screen and (min-width: 992px) {
    .card-product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-imgs {
        width:77%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-content {
        padding-top: 0;
    }
}
.r-img1 {
    
}

/*++++++++++++++++++++++++++++++++++*/
/*+++++++ Product Page end +++++++*/
/*++++++++++++++++++++++++++++++++++*/

#all-brands {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:0px auto;
    justify-content:center;
    
}

.brand-img {
    width: 300px;
    display: block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin:20px ;
    

}
.brand-img img {
    width:inherit;
}

.edit-racket {
    position: absolute;
    right: 0px;
    margin: 10px;
    z-index: 1;
    padding: 4px 8px;
}

.racket-section {
    position:relative;
}

.edit-racket a {
    text-decoration:none;
    color:inherit;
}

.edit-racket a:hover {
    color:inherit;
}

#edit-r {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#edit-r-images{
    display:flex;
    flex-direction:column;
 
}
#edit-r-def-img {
    display:flex;
    flex-direction:row;
    justify-content:center;
}
#edit-r-def-img img {
    width: 50%;
}

#edit-r-img img, #edit-r-def-img img {
    width: 300px;
    display: block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 20px;
}
#edit-r-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px auto;
    justify-content: center;
}
.edit-but {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    width: min-content;
}



#alertButton {
    margin: 50px;
    padding: 10px 20px;
    font-size: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

#userInput {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 15px 0;
    font-size: 16px;
}

#submitInput {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}