#navBar, #sideNav, #mainContent {
    border: 1px solid black;
}
html {
    background-color: rgba(0, 0, 0, .1);
}


#navBar a {
    font-size: 30px;
}
#apply-but-mobile {
    margin-left: 30px;
    display:none;
}
#filter-but-mobile, #apply-but-mobile, #apply-but {
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 20px;
    cursor:pointer;
    
}
body {
    background-color: #f7f7f7;
}
#apply-but {
    margin:20px auto 20px auto;
    width:100px;
    text-align:center;
    display:block;
}

#mainContent {
    width: auto;
    display: flex;
    flex-direction: row;
}

 

.company-name {
    width: 350px;
    height: 250px;
    display: flex;
    align-items: center;
    border: 1px solid #c6bfbfa3;
    margin: 30px;
    opacity:1;
    background-color:white;
}

.company-name > img {
    width: inherit;
    position: relative;
}

#sideNav-mobile {
    display: none;
}

#racket-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.racket-brand {
    font-size:12px;
}
.card-body {
    padding:10px;
}
.racket-name {
     
}

.racket-price{
    margin-top:10px;
    color:red;
    font-weight:bold;
    font-size:20px;
}


@media screen and (max-width: 600px) {
    .company-name {
        width:300px;
        height:200px;
    }
    
    #sideNav-mobile {
        display: flex;
        position: fixed;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 30px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1000;
        font-size:30px;
    }
    
    #mainContent {
        margin: 0px auto;
    }

    .seprator {
         display:none;
    }
    .main-racket-content {
        margin-left: auto;
        margin-right: auto;
    }
    #racket-content {
       display:inline-block;
       margin-left:auto;
       margin-right:auto;
    }
    #apply-but {
        display:none;
    }
    #apply-but-mobile {
        display:block;
    }

    #sidenav  {
        width: 90%;
        position: fixed;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 30px;
        background-color: rgb(221, 204, 204);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1000;
        font-size: 30px;
        height: 60%;
        overflow: scroll;
        
    } 
    p {
       font-size:20px;
    }

    .log-reg {
        position:relative !important;
    }
}
@media screen and (min-width: 601px)  {
    #apply-but {
        display: block;
    }

    #sidenav {
        display: block;
        flex: 0 0 200px;
        margin-top: 20px;
        width: auto;
        background-color: white;
    }
    .log-reg {
        display:flex;
        flex-direction:row;
    }
}
p {
    font-size: 40px;
}
.vertical-seprator {
    width: 100%;
    background-color: red;
    flex: 0 0 60px;
}


.card {
    padding:10px;
    margin:5px;
}

.a-racket {
    color:black;
    text-decoration:none;
}

.a-racket:hover {
    all: unset;
    cursor: pointer;
}

 
.filter-body {
    display:block;
    margin-left:30px;
}
.filter-title {
    margin: 20px 0px 10px 20px
}
.sort-filter {
    margin:10px auto 10px 20px;
    
}

#filter-close {
    text-align: right;
    font-size: 30px;
    margin-left: 70px;
}

#filter-close:hover {
    cursor:pointer;
    font-weight:bold;
}
.home-content {
    background-color: red;
    padding: 20px;
}

.show {
    display:block;
}

.hide {
    display:none;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

#login-form, #register-form {
    margin: 0 auto;
}

