@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a href="rackets/babolat" class="company-name">
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Babolat_logo.svg/930px-Babolat_logo.svg.png?20220515164145" alt="babolat">
</a>
<a href="rackets/babolat"class="company-name">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Babolat_logo.svg/930px-Babolat_logo.svg.png?20220515164145" alt="">
</a>
<a href="rackets/babolat" class="company-name">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Babolat_logo.svg/930px-Babolat_logo.svg.png?20220515164145" alt="">
</a>
<a href="rackets/babolat" class="company-name">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Babolat_logo.svg/930px-Babolat_logo.svg.png?20220515164145" alt="">
</a>