@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="all-brands">

</section>


<script>
    window.onload = async function () {
        var data = await fetch("/get-brands", {
            method: "GET"
        }).then((res) => {
            return res.json();
        }).then((data) => {
            return data;
        });

        var brands = document.getElementById("all-brands");
        brands.innerHTML = "";
        console.log(data);
        for (let x of data) {
            brands.innerHTML += `\
                <a class="brand-img" href="#"> \
                     <img src="${x["image"]}"
                </a > \
            `
        }
    }
</script>